DIG/benchmarks/xgraph/checkpoints
DIG/benchmarks/xgraph/checkpoints_reconstruction_False
DIG/benchmarks/xgraph/checkpoints_reconstruction_True
DIG/benchmarks/xgraph/datasets
DIG/benchmarks/xgraph/DR_CFGNN_images
DIG/benchmarks/xgraph/results
DIG/benchmarks/xgraph/result_jsons




DIG_ROBUSTNESS/benchmarks/xgraph/cfexplainer_plots
DIG_ROBUSTNESS/benchmarks/xgraph/checkpoints
DIG_ROBUSTNESS/benchmarks/xgraph/checkpoints_lp
DIG_ROBUSTNESS/benchmarks/xgraph/checkpoints_taxonomy
DIG_ROBUSTNESS/benchmarks/xgraph/datasets
DIG_ROBUSTNESS/benchmarks/xgraph/MELD
DIG_ROBUSTNESS/benchmarks/xgraph/results
DIG_ROBUSTNESS/benchmarks/xgraph/results_taxonomy

